*{
    padding: 0%;
    margin: 0%;
}
.main{
    background-image: url(../assits/alex-suprun-A53o1drQS2k-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.main .main-1{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    height: 70px;
    padding-top: 25px;
    opacity: 0.6;
    }
.main-3 ul{
   
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    text-decoration: none;
    justify-content: space-between;
    padding-top: 10px;
}
.main .main-4{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
	align-items: center;   
}
.main .main-btn1{
    color: white;
    border:1px solid white;
   background-color:transparent!important;
}
.main .main-btn2{
    color: white;
    background-color: #f17a28!important ;   
}










.main22{
    background-image: url(../assits/photo-1472722886393-f2f51e9deec8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 350px;
}












.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;   
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover{
   color: #f1f1f1;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
	margin-left: 50px;
}
 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
  
 





  





  

  .circle-container {
	position: relative;
	perspective: 1000;	
	margin: 0 auto;	
}		
.circle-container:hover .circle {
	transform: rotateX(180deg);
}		
.circle-container:hover .outer-ring {
	transform: rotateY(180deg);
}
.circle-container:hover .outer-outer-ring {
	transform: rotateX(180deg);
}		
.circle-container, .front, .back {
	width: 175px;
	height: 175px;
	background-color: rgba(0,0,0,0);
}		
.circle, .outer-ring, .outer-outer-ring {
	transition: 0.5s;
	transform-style: preserve-3d;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}		
.circle {
	position: relative;
	width: 175px;
	height: 175px;
}		
.front, .back {
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}		
.front {
	background-color: #fff;
	z-index: 2;
}		
.front p {
	margin-top: 1.2em;
	font-family: cabin, sans-serif;
	font-weight: 700;
	font-size: 3em;
	text-align: center;
	color: #c02227;
}		
.back {
	transform: rotate3d(45,45,0,180deg);
	background-color: #fff;
}		
.back-logo {
	width: 60%;
	display: block;
	margin: 2em auto;
}		
.outer-ring {
	position: absolute;
	top: -10px;
	left: -10px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 191px;
	height: 191px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}
.outer-outer-ring {
	position: absolute;
	top: -20px;
	left: -20px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 211px;
	height: 211px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}  
.circle-container {
	position: relative;
	perspective: 1000;	
	margin: 0 auto;	
}	
.circle-container:hover .circle {
	transform: rotateX(180deg);
}		
.circle-container, .front, .back {
	width: 175px;
	height: 175px;

}	
.circle, .outer-ring, .outer-outer-ring {
	transition: 0.5s;
	transform-style: preserve-3d;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}		
.circle {
	position: relative;
	width: 175px;
	height: 175px;
}		
.front, .back {
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}		
.front {
	background-color: #fff;
	z-index: 5;
}		
.front p {
	margin-top: 1.2em;
	font-family: cabin, sans-serif;
	font-weight: 700;
	font-size: 3em;
	text-align: center;
	color: rgba(0,0,0,0.4);
}		
.back {
	transform: rotateX(180deg);
	background-color: #fff;
}		
.back-logo {
	width: 60%;
	display: block;
	margin: 2em auto;
}		
.outer-ring {
	position: absolute;
	top: -10px;
	left: -10px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 191px;
	height: 191px;	
}












.magicc{
	margin-top: 100px;
	margin-bottom: 100px;
}
  .magicc .magicc1 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.magicc .magicc1 .noor{
 width: 350px;
 height: 200px;
 padding: 30px;
 transition: width 2s, height 2s, transform 2s;
 }
.magicc .magicc1 .noor:hover{
width: 400px;
 height: 200px;
transform: (0deg);
background-color: #ff799a;
}









.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}
.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: rgb(70, 199, 250);   
}
.panel-title {
    font-size: 14px;
}
   .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }
.more-less {
    float: right;
    color: #212121;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}













/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 15px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	margin: 28px;
	user-select: none;
  }
  /* Hide the browser's default checkbox */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
   /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	background-color: #eee;
  }
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: rgb(40, 41, 43);
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  /* Style the checkmark/indicator */
  .container .checkmark:after {
	left: 5px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
  }















  .magiccc{
	margin-top: 100px;
	margin-bottom: 100px;
}
  .magiccc .magiccc1 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.magiccc .magiccc1 .noor1{
 width: 350px;
 height: 200px;
 padding: 30px;
 transition: width 2s, height 2s, transform 2s;
 
    
}